.Hero{
    background: url(../../Assets/HeroBg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 160px;
    box-sizing: border-box;
}

.HeroContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.HeroTitle{
    font-size: 38px;
    font-weight: 700;
}

.HeroP{
    max-width: 380px;
    font-size: 24px;
    font-weight: 400;
}